{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block stylesheets %}
    <style>
        .article
        {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 75%;
            opacity: 0.95;
            margin: 5%;
            padding: 5%;
            overflow: hidden;
            border: none;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            font: normal normal bold 20px/1 "Courier New", Courier, monospace;
            color: black;
            text-align: center;
            -o-text-overflow: clip;
            text-overflow: clip;
            background: -webkit-linear-gradient(-90deg, rgba(208,228,247,1) 0, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%), #0199d9;
            background: -moz-linear-gradient(180deg, rgba(208,228,247,1) 0, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%), #0199d9;
            background: linear-gradient(180deg, rgba(208,228,247,1) 0, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%), #0199d9;
            background-position: 50% 50%;
            -webkit-background-origin: padding-box;
            background-origin: padding-box;
            -webkit-background-clip: border-box;
            background-clip: border-box;
            -webkit-background-size: auto auto;
            background-size: auto auto;
            -webkit-box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.3) ;
            box-shadow: 1px 5px 5px 0 rgba(0,0,0,0.3) ;
            text-shadow: 0 0 0 rgba(0,0,0,1) ;
        }
        .my_link
        {
            color: Black;
        }
        .title
        {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            padding: 5px;
            border: none;
            font: normal 40px/1 "andika", Helvetica, sans-serif;
            color: black;
            text-align: center;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
        .users {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 75%;
            margin: 5%;
            padding: 5%;
            overflow: hidden;
            border: none;
            -webkit-border-radius: 25px;
            border-radius: 25px;
            font: normal 16px/1 "Times New Roman", Times, serif;
            color: rgba(255,255,255,1);
            text-align: center;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            background: -webkit-linear-gradient(-90deg, rgba(210,244,146,1) 0, rgba(210,244,146,1) 54%, rgba(210,244,146,1) 55%, rgba(124,188,10,1) 100%), -webkit-repeating-radial-gradient(circle closest-side, rgba(210,244,146,1) 0, rgba(124,188,10,1) 100%);
            background: -moz-linear-gradient(180deg, rgba(210,244,146,1) 0, rgba(210,244,146,1) 54%, rgba(210,244,146,1) 55%, rgba(124,188,10,1) 100%), -moz-repeating-radial-gradient(circle closest-side, rgba(210,244,146,1) 0, rgba(124,188,10,1) 100%);
            background: linear-gradient(180deg, rgba(210,244,146,1) 0, rgba(210,244,146,1) 54%, rgba(210,244,146,1) 55%, rgba(124,188,10,1) 100%), repeating-radial-gradient(circle closest-side, rgba(210,244,146,1) 0, rgba(124,188,10,1) 100%);
            background-position: 50% 48%, 50% 50%;
            -webkit-background-origin: padding-box;
            background-origin: padding-box;
            -webkit-background-clip: border-box;
            background-clip: border-box;
            -webkit-background-size: auto auto;
            background-size: auto auto;
            -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
            box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
        }
    </style>

{%  endblock %}

{% block body %}


    <form method="post" action="">
        <div>
        {% for article in articles %}
            <div class="article">
                <h3 class="title"> {{ article.title }}</h3>
                <p> {{ article.content }}</p>
                {% if article.goal <= article.status %}
                    <p>Objectif : Accomplis</p>
                {%  else %}
                     <p> Objectif : {{ article.status }} sur {{ article.goal }}</p>
                {% endif %}
                {% if article.actived == 0 %}
                    Inactif
                {% else %}
                    Actif
                {% endif %}
                <a href="{{ path('retrieve', {'id': article.id}) }}" class="my_link">Détail</a>
                {% if article.actived == 0  %}
                    <a href="{{ path('activer', {'id': article.id}) }}" class="my_link">>Activer</a>
                {% elseif article.actived == 1 %}
                    <a href="{{ path('desactiver', {'id': article.id}) }}" class="my_link">>Désactiver</a>
                {% endif %}

                <p>Auteur : {{ article.user.username }}</p>
                <h5>Contribution</h5>

                {% for cont in conts %}
                    {% if cont.articles.id == article.id %}
                        <p> {{ cont.users.username }} a versé {{ cont.value }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}>
        </div>
        <div>
            {% for user in users %}
               <div class="users">
                   <p>{{ user.username }}</p>
                   {% if user.roles[0] ==  'ROLE_ADMIN' %}
                       <p>Administrateur</p>
                       <a href="{{ path('set_user', {'id': user.id}) }}" class="my_link">Passer Utilisateur</a>
                   {% elseif user.roles[0] ==  'ROLE_USER' %}
                       <p>Utilisateur</p>
                       <a href="{{ path('set_admin', {'id': user.id}) }}" class="my_link">Passer Administrateur</a>
                   {% endif %}
               </div>
            {% endfor %}
        </div>

    </form>





{% endblock %}


        {% block javascripts %}
            {#<script>#}
                {#$.document(function (event) {#}
                    {##}
                {#})#}
            {#</script>#}
        {% endblock %}
