{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}

	<h3>Administration</h3>

	<h5>Utilisateur</h5>

    {% for user in users %}
        <div> <p>Identifient : {{ user.username }}</p>
        <p>Nom : {{ user.lastname }}</p>
        <p>Prenom : {{ user.firstname }}</p>
        <p>Email : {{ user.email }}</p>
        </div>
    {% endfor %}

    <h5>Article</h5>

    {% for article in articles %}
        <div> <p>titre : {{ article.title }}</p>
        <p> contenu :{{ article.content }}</p>
            {% if article.goal == article.status %}
                <p>Objectif : Accomplis</p>
            {%  else %}
                 <p> Objectif : {{ article.status }} sur {{ article.goal }}</p>
            {% endif %}
            {% if article.actived == 0 %}
                <p>Inactif</p>
            {% else %}
                <p>Actif</p>
            {% endif %}
        </div>
    {% endfor %}

    <h5>Contribution</h5>

    {% for cont in conts %}
            <p>{{ cont.value }}</p>
    {% endfor %}

{% endblock %}
