{% extends 'base.html.twig' %}

{% block title %}Inscrivez-vous !{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('build/css/inscription.css') }}" type="text/css" />

{% endblock %}

{% block body %}

  <h2 class="login-header">Inscription</h2>
  
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

<button type="submit">Inscription!</button>
{{ form_end(form) }}

{% endblock %}