    {% extends 'base.html.twig' %}

    {% block title %}Ajouter un article{% endblock %}

    {% block body %}

    {#{{include("articles/form.html.twig")}}#}
        {{ form_start(form) }}
        {{ form_errors(form) }}

    {{ form_rest(form) }}

        <button type="submit" class="btn btn-success" name="button">Submit</button>

        {{ form_end(form) }}

    {% endblock %}
