{% extends 'base.html.twig' %}

{% block title %}BIZMAKER{% endblock %}
{% block stylesheet %}

 <link rel="stylesheet" href="{{ asset('build/css/style.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/responsive.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/menu.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/grid.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/jquery.bxslider.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/animate.css') }}" type="text/css" />
{% endblock %}

{% block body %}

<h1> BONJOUR </h1>


{% endblock %}
