{% extends 'base.html.twig' %}

{% block title %} Bizmaker {% endblock %}

{% block body %}
    <div>
        {#{{ dump(article) }}#}

        <h2>{{ article.title }}</h2>

        <div>{{ article.content }}</div>
        {% if article.goal == article.status %}
            <p>Objectif : Accomplis</p>
        {%  else %}
            <p> Objectif : {{ article.status }} sur {{ article.goal }}</p>
        {% endif %}
        {% if article.actived == 0 %}
            <p>Inactif</p>
        {% else %}
            <p>Actif</p>
        {% endif %}
        <p>Auteur : {{ article.user.username }}</p>
        <a href="{{ path('update', {'id': article.id}) }}">Modifier l'aricle</a>
    </div>




{% endblock %}
