{% extends 'base.html.twig' %}

{% block title %} Bizmaker {% endblock %}

{% block body %}
    <div>

        <h2>{{ article.title }}</h2>

        <div>{{ article.content }}</div>
        {% if article.goal == article.status %}
            <p>Objectif : Accomplis</p>
        {%  else %}
            <p> Objectif : {{ article.status }} sur {{ article.goal }}</p>
        {% endif %}
        <p>Auteur : {{ article.user.username }}</p>
        {% if app.user is not empty %}
            {{ form_start(form) }}
            {{ form_row(form.value) }}
            <button type="submit">Validez!</button>
            {% if app.user is not empty and app.user.roles[0] == 'ROLE_ADMIN'  %}
                <imput type="checkbox" >
                    {% if article.actived == 0 %}
                        Activez
                    {% elseif article.actived == 1 %}
                        Desactivez
                    {% endif %}
                </imput>
            {% endif %}
            {{ form_end(form) }}
        {% endif %}
        <a href="{{ path('update', {'id': article.id}) }}">Modifier l'aricle</a>
    </div>




{% endblock %}
