{% extends 'base.html.twig' %}

{% block title %} Bizmaker {% endblock %}

{% block body %}
    <div>

        <h2>{{ article.title }}</h2>

        <div>{{ article.content }}</div>
        {% if article.goal == article.status %}
            <p>Objectif : Accomplis</p>
        {%  else %}
            <p> Objectif : {{ article.status }} sur {{ article.goal }}</p>
        {% endif %}
        <p>Auteur : {{ article.user.username }}</p>
        {% if app.user is not empty %}
            {{ form_start(form) }}
            {{ form_row(form.value) }}
            <button type="submit">Validez!</button>
            {{ form_end(form) }}
        {% endif %}

        {% if app.user is not empty and app.user.roles[0] == 'ROLE_ADMIN'  %}
            {% if article.actived == 0  %}
                <a href="{{ path('activer', {'id': article.id}) }}">Activer</a>
            {% elseif article.actived == 1 %}
                <a href="{{ path('desactiver', {'id': article.id}) }}">Désactiver</a>
            {% endif %}
        {% endif %}
        <br>
        {% if app.user is not empty %}
            {% if app.user.roles[0] == 'ROLE_ADMIN' or app.user.id == article.user.id %}
                <a href="{{ path('update', {'id': article.id}) }}">Modifier l'aricle</a>
            {% endif %}
        {% endif %}
    </div>




{% endblock %}
