<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} BIZMAKER {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


            <link rel="stylesheet" href="{{ asset('build/css/style.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/responsive.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/menu.css') }}" type="text/css" />
            {# <link rel="stylesheet" href="{{ asset('build/css/app.css') }}" type="text/css" /> #}
            <link rel="stylesheet" href="{{ asset('build/css/grid.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/jquery.bxslider.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/animate.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('build/css/login.css') }}" type="text/css" />
         

        {% block stylesheets %}{% endblock %}
        
    </head>
    <body>





                 <!-- NAVBAR -->
                 



    <header>
    	<div class="container">
    		<div class="row">
    		  
    			<div class="col-lg-12">
    				<div class="logo">
                	<a href="{{ path('index')}}"><img src="{{ asset('assets/images/logo.png') }}" /></a>
                    </div>
                    <nav class="nav-collapse">
                    
                    	<ul>
                        	<li class="menu-item active"> <a class="nav-link" href="{{ path('index')}}" data-scroll>Accueil</a></li>
                            {% if app.user is not empty %}
                             <li class="menu-item"> <a class="nav-link" href="{{ path('creer_articles')}}" data-scroll>Creer un projet</a></li>
                             
                                {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                                    <li class="menu-item"> <a class="nav-link" href="{{ path('dashboard')}}" data-scroll>Administration</a></li>
                                {% endif %}
                            {% endif %}
                            <li class="menu-item"> <a class="nav-link" href="{{ path('index')}}" data-scroll>Recherchez un projet</a></li>
                            
                        </ul>
                    
                    </nav>


                    {% if app.user is empty %}
                    <div class="loginindex">
                        <a class="nav-link" href="{{ path('security_connexion')}}">Connexion</a>
                    </div>	
                    <div class="loginindex">
                        <a class="nav-link" href="{{ path('user_registration')}}">Inscription</a>

                    </div>
                    {% elseif app.user is not empty %}
                    <div class="loginindex">
                       <a class="nav-link" href="{{ path('security_logout')}}" data-scroll>Deconnexion</a>
                    {% endif %}
                </div>	
    		</div>	
    	</div>
        
    </header>

    
        {% block body %}


        {% endblock %}










<footer>
	<div class="container">
    	<p>BIZMAKER © 2018 - 2019  BRYAN AXEL BACHIR</p>
    </div>
</footer>

</body>


    
        {% block javascripts %}

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
        <script src="{{ asset('build/js/fastclick.js') }}"></script>
        <script src="{{ asset('build/js/fixed-responsive-nav.js') }}"></script>   
        <script src="{{ asset('build/js/jquery.bxslider.js') }}"></script>   
        <script src="{{ asset('build/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('build/js/responsive-nav.js') }}"></script>
        <script src="{{ asset('build/js/script.js') }}"></script>   
        <script src="{{ asset('build/js/scroll.js') }}"></script>   
        <script src="{{ asset('build/js/waypoints.js') }}"></script>   

        
        
  
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            <script src="bundles/pugxautocompleter/js/autocompleter-jqueryui.js"></script>
</html>
